# Deployment builds
dist

# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
yarn.lock

# TypeScript
*.tsbuildinfo
*.d.ts
dist/
build/

# Environment Files
.env
.env.local
.env.*.local
.secret

# IDEs and Editors
.vscode/
.idea/
*.swp